a.ipynb
check.xlsx
final_materials_data.csv
forecasting_data.csv
Material doc info April-25.xlsx
Material doc info Jun- oct-06 25.xlsx
Material Doc info-May-25.xlsx
Material Document Feb-25.xlsx
Material document Jan 25.xlsx
Material document list Dec-24.xlsx
Material document Nov-24.xlsx
Material Document october-24.xlsx
Material Documnt list Mach-25.xlsx
materials_data.csv
nadec_analysis.ipynb
vendors_data(ME2NV5).csv